Port 2222
ListenAddress 127.0.0.1
HostKey /home/arnau/shared/projects/sftp-cli-tool/.testenv/hostkey
AuthorizedKeysFile /home/arnau/shared/projects/sftp-cli-tool/.testenv/authorized_keys
PidFile /home/arnau/shared/projects/sftp-cli-tool/.testenv/sshd.pid
Subsystem sftp /usr/lib/ssh/sftp-server
StrictModes no
PasswordAuthentication no
UsePAM no
